$main-color: #fff; //900c3f //2a363b
$dark-main-color: darken($main-color, 15%) !default;


$primary: #d02c2c !default;
$dark-primary: darken($primary, 15%) !default;

$fb-color: #4267b2;

// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
