// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
//NavBar Font
@import url("../../../bower_components/alk-sanet/css/alk-sanet.min.css");
// other
@import url("../../../bower_components/bpg-venuri/css/bpg-venuri.min.css");


// Variables
@import "variables";

// Bootstrap
@import '../bower_components/bootstrap/scss/bootstrap.scss';
@import 'functions';


body{
  padding-top: 90px;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgb(233, 236, 239);
}
.no-padder{
  padding: 0;
}

.navbar-laravel {
  background: $white;
  border-bottom: 1px solid $primary;
  
  a{
    color: $primary;
    font-family: "ALK Sanet", sans-serif;
  }
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0;
  margin: 0.57rem 0 0;
  font-size: 0.9rem;
  color: set-text-color($main-color);
  text-align: left;
  list-style: none;
  background-color: $main-color;
  background-clip: padding-box;
  border: 0;
  border-radius: 0;


  .dropdown-item {
    display: block;
    width: 100%;
    padding: .6rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: set-text-color($main-color);
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }

  .dropdown-item:hover{
    background-color: $primary;
    color:$white; //set-text-color($primary);
  }

  .dropdown-divider{
    margin: 0;
    border-top: 1px solid $dark-main-color;
  }
}

#side-menu {
  display: none;
  position: fixed;
  min-width: 300px;
  top: 0;
  right: -300px;
  height: 100%;
  overflow-y: auto;
  z-index: 500;
  background: #fff;
  padding: 70px 30px;
  color: #333;
  transition: 0.4s;
}

// Cards
.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.45);
  margin-top: 0;

  .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: $white;
    border-bottom: 1px solid $primary;
    font-weight: bold;
    color: $primary;
    font-family: "ALK Sanet", sans-serif;
  }

  .card-header:first-child {
    border-radius: 0;
  }

  .card-body{
    font-family: "BPG Venuri", sans-serif;
    font-size: 12px;

    .list-group{
      .list-group-item{
        border-radius: 0;
      }
    }
  }
}

//Slider
.slider-margin{

}
.slider{
  width: 100%;
  padding: 0;
  //margin: 20px 15px 0 15px;
}



//footer
footer{
  .copyright{
    font-size: 12px;
    font-family: "BPG Venuri", sans-serif;
    margin-top: 10px;
  }
}



// Posts
#pinBoot {
  position: relative;
  max-width: 100%;
  width: 100%;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.white-panel {
  position: absolute;
  background: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  padding: 10px;
  h1 {
    font-size: 1em;
    a {
      color: #A92733;
    }
  }
  &:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    margin-top: -5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

//colors
  //fb colors
  .fb-color{
    color: $fb-color;
  }
  .fb-btn{background: $fb-color;color:$white;}
  .fb-btn:hover{background: $fb-color;color:$white;}

///////


//image uploads
.input-group{
  .custom-file-input{
    background: url('/uploads/posts/default.jpg')
  }
}


//posts
.post-card{
  .card-body{
    h5{
      color: $primary;
      font-weight: bold;
      border-top:1px solid $primary;
      font-size: 16px;
      font-family: "ALK Sanet", sans-serif;
    }
  }
  .post-img{
    z-index: 2;
    width: 100%;
    height:150px;
    position: relative;
    overflow: hidden;
    
    .custom-file{
      position: absolute;
      width: 100%;
      height:100%;

      .custom-file-input {
        position: relative;
        z-index: 2;
        width: 100%;
        height: 100%;
        margin: 0;
        opacity: 0;
        background: url('/uploads/posts/default.jpg');
        cursor: pointer;
      }
    }

    small{
      position: absolute;
      background-color: $primary;
      font-family: "ALK Sanet", sans-serif;
      z-index: 3;
      border-top-right-radius: calc(0.25rem - 1px);
      border-bottom-left-radius: calc(5rem - 1px);
      color: $white;
      padding: 5px 25px;
      right:0;
    }
    
    .card-img-top{
      z-index: 1;
      position: absolute;
    }
  }
  .post-btn{
    float: left;
    bottom: 0;
    border-radius: 0;
    border-bottom-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(5rem - 1px);
    padding: 1px 30px;
  }
}

//Post Date
.post-date{
  font-size: 16px;
  font-family: "ALK Sanet", sans-serif;
  text-align: center;
  /*color: $primary;*/
  font-weight: bold;
}




//Switchers
.flag-switch{
  input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
    
  }
  
  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 30px;
    height: 20px;
    background: url('/img/flags/gb.svg');
    background-size: 30px 20px;
    display: block;
    border-radius: 0;
    position: relative;
  }
  
  label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background: transparent;
    border-radius: 0;
    transition: 0.3s;
  }
  
  input:checked + label {
    background: url('/img/flags/ge.svg');
    background-size: 30px 20px;
  }
  
  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
  
  label:active:after {
    width: 130px;
  }
}



//post add styles
#imgpreview{
}


//donation
.money-select{
  padding:80px;
  .form-row input {
    padding: 3px 1px;
    width: 100%;
  }
  input.currency {
      text-align: right;
      padding-right: 15px;
      color: $primary;
      font-weight:bold;
      font-size: 18px;
      font-family: "ALK Sanet", sans-serif;
  }
  .input-group .form-control {
      float: none;
  }
  .input-group .input-buttons {
      position: relative;
      z-index: 3;
  }
  .input-group-addon {
    padding: 10px 13px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-align: center;
    background-color: #d02c2c;
    border: 1px solid #d02c2c;
    border-radius: 4px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
}

.transfer-img{
  padding: 10px 200px 20px 200px;
}

//gallery

.imgUpload{
      font-size:60px;
      text-align: center;
      padding: 60px 40px 40px 40px;
      cursor: pointer;
}

.gallery-img {
  z-index: 2;
  width: 100%;
  height: 195px;
  position: relative;
  overflow: hidden;

  img{
    height: 195px;
    object-fit: cover;
  }
}

//Pagination
.user-pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}


//Navigation tree view
.jumbotron{
  h4{
    color: $primary;
    margin-bottom: 20px;
    font-family: "ALK Sanet", sans-serif;
  }
}

.nav-container{
  .title{
    font-family: "ALK Sanet", sans-serif;
  }
  .route {
    position: relative;
    list-style-type: none;
    border: 0;
    margin: 0;
    padding: 0;
    top: 0px;
    margin-top: 0px;
    max-height: 100% !important;
    width: 50%;
    background: #dee0e2;
    border-radius: 2px;
    z-index: -1;

    .ui-icon{
      cursor: move;
      svg{
        font-size: 6px;
        margin-left: -7px;
      }
    }
  }
  
  .route span {
    position: absolute;
    top: 20px;
    left: 20px;
    -ms-transform: scale(2);
    /* IE 9 */
  
    -webkit-transform: scale(2);
    /* Chrome, Safari, Opera */
  
    transform: scale(2);
    z-index: 10px;
  }
  
  .route .title {
    position: absolute;
    border: 0;
    margin: 0;
    padding: 0;
    padding-top: 0;
    height: 30px;
    width: 400px;
    text-indent: 14px;
    background: $primary;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 0px 1px $dark-primary;
    pointer-events: none;
    font-size:16px;
    color:$white;
    font-family: "ALK Sanet", sans-serif;

    .h3 {
      font-size: 16px;
      color: $white;
    }
  }
  
  .first-title { margin-left: 0; }
  
  .space {
    position: relative;
    list-style-type: none;
    border: 0;
    margin: 0;
    padding: 0;
    margin-left: 50px;
    width: 50px;
    top: 50px;
    padding-bottom: 50px;
    height: 100%;
    z-index: 1;
  }
  
  .first-space { margin-left: 0; }
}

//Services
.src-box{
  .card{
    img{
      padding: 30px 60px 11px 60px;
    }
    h5{
      text-align: center;
      color: $primary;
      font-family: "ALK Sanet", sans-serif;
      font-size: 14px;
      font-weight: bold;
    }
    p{
      padding: 10px 20px 10px 20px;
      font-size: 12px;
    }
  }
}


//main map
.map-world{
  width: 100%;
  height: 500px;
  margin-top: 20px;
}


//Categories
.category-list{
  .list-group{
    .list-group-item{
      /*border: 0;*/
      border: 1px solid #e4e4e4;
      font-family: "ALK Sanet", sans-serif;
    }
    .list-group-item:first-child {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    .list-group-item:last-child {
      margin-bottom: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
.sidebar-list{
  .list-group-item{
    border: 0;
  }
  .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}






//Tabs

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-family: "ALK Sanet", sans-serif;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #f5f8fa;
  border-color: $primary #efefef #e2e2e2;
}
.nav-link {
  display: block;
  padding: 0.8rem 2.3rem;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: #d02c2c #ffffff #dee2e6;
}


// Main Map
.jvectormap-zoomin, .jvectormap-zoomout, .jvectormap-goback {
  position: absolute;
  left: 10px;
  border-radius: 50%;
  border:1px solid $primary;
  background: transparent;
  padding: 3px;
  color: $primary;
  cursor: pointer;
  line-height: 10px;
  text-align: center;
  box-sizing: content-box;
}

.jvectormap-zoomin:hover, .jvectormap-zoomout:hover, .jvectormap-goback:hover {
  position: absolute;
  left: 10px;
  border-radius: 50%;
  border:1px solid #333;
  background: $primary;
  padding: 3px;
  color: $white;
  cursor: pointer;
  line-height: 10px;
  text-align: center;
  box-sizing: content-box;
}



//item slider
@include media-breakpoint-up(xs) { 
  .owl-carousel{
    .owl-item{
      height:80px;
    }
  }
 }
@include media-breakpoint-up(sm) { 
  .owl-carousel{
    .owl-item{
      height:100px;
    }
  }
 }
@include media-breakpoint-up(md) { 
  .owl-carousel{
    .owl-item{
      height:150px;
    }
  }
 }
@include media-breakpoint-up(lg) { 
  .owl-carousel{
    .owl-item{
      height:200px;
    }
  }
 }
@include media-breakpoint-up(xl) { 
  .owl-carousel{
    .owl-item{
      height:250px;
    }
  }
 }


 //Contact Page

 @include media-breakpoint-up(xs) { 
  .contact-map{
    width: 100%;
    height:700px;
    
    #map{
      width:100%;
      height: 100%;
    }
    .contact-card{
     top: 182px;
     position: absolute;
     width: 80%;
     min-height: 300px;
     z-index: 9;
     margin-left: 20px;
    }
  }
 }
@include media-breakpoint-up(sm) { 
  .contact-map{
    width: 100%;
    height:800px;
    
    #map{
      width:100%;
      height: 100%;
    }
    .contact-card{
     top: 182px;
     position: absolute;
     width: 80%;
     min-height: 300px;
     z-index: 9;
     margin-left: 30px;
    }
  }
 }
@include media-breakpoint-up(md) { 
  .contact-map{
    width: 100%;
    height:800px;
    
    #map{
      width:100%;
      height: 100%;
    }
    .contact-card{
     top: 182px;
     position: absolute;
     width: 60%;
     min-height: 300px;
     z-index: 9;
     margin-left: 30px;
    }
  }
 }
@include media-breakpoint-up(lg) { 
  .contact-map{
    width: 100%;
    height:800px;
    
    #map{
      width:100%;
      height: 100%;
    }
    .contact-card{
     top: 182px;
     position: absolute;
     width: 30%;
     min-height: 300px;
     z-index: 9;
     margin-left: 30px;
    }
  }
 }
@include media-breakpoint-up(xl) { 
  .contact-map{
    width: 100%;
    height:800px;
    
    #map{
      width:100%;
      height: 100%;
    }
    .contact-card{
     top: 182px;
     position: absolute;
     width: 30%;
     min-height: 300px;
     z-index: 9;
     margin-left: 30px;
    }
  }
 }
 .contact-map{
  width: 100%;
  height:800px;
  
  #map{
    width:100%;
    height: 100%;
  }
  .contact-card{
   top: 182px;
   position: absolute;
   width: 30%;
   min-height: 300px;
   z-index: 9;
   margin-left: 30px;

   .list{
     ul{
       padding: 0;
       list-style: none;
     }
     
     strong{
       color:$primary;
       font-weight: bold;
       font-family: "ALK Sanet", sans-serif;
     }
     p{
      font-family: "ALK Sanet", sans-serif;
      font-size:18px;
     }
   }
  }
}