doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title ქართული დიასპორა
        link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.css")
        //link(rel="stylesheet", href="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.css")
        link(rel="stylesheet", href="/css/app.css")
        link(rel="stylesheet", href="/css/jquery-te-1.4.0.css")
        script(defer='', src='https://use.fontawesome.com/releases/v5.0.8/js/all.js')
        script(src='/js/geo.js')
    body