#carouselExample.carousel.slide(data-ride='carousel', data-interval='9000')
    .carousel-inner.row.w-100.mx-auto(role='listbox')
        .carousel-item.col-md-3.active
            .panel.panel-default
                .panel-thumbnail
                    a.thumb(href='#', title='image 1')
                        img.img-fluid.mx-auto.d-block(src='//via.placeholder.com/600x400?text=1', alt='slide 1')
        .carousel-item.col-md-3
            .panel.panel-default
                .panel-thumbnail
                    a.thumb(href='#', title='image 3')
                        img.img-fluid.mx-auto.d-block(src='//via.placeholder.com/600x400?text=2', alt='slide 2')
        .carousel-item.col-md-3
            .panel.panel-default
                .panel-thumbnail
                    a.thumb(href='#', title='image 4')
                        img.img-fluid.mx-auto.d-block(src='//via.placeholder.com/600x400?text=3', alt='slide 3')
        .carousel-item.col-md-3
            .panel.panel-default
                .panel-thumbnail
                    a.thumb(href='#', title='image 5')
                        img.img-fluid.mx-auto.d-block(src='//via.placeholder.com/600x400?text=4', alt='slide 4')
        .carousel-item.col-md-3
            .panel.panel-default
                .panel-thumbnail
                    a.thumb(href='#', title='image 6')
                        img.img-fluid.mx-auto.d-block(src='//via.placeholder.com/600x400?text=5', alt='slide 5')
        .carousel-item.col-md-3
            .panel.panel-default
                .panel-thumbnail
                    a.thumb(href='#', title='image 7')
                        img.img-fluid.mx-auto.d-block(src='//via.placeholder.com/600x400?text=6', alt='slide 6')
        .carousel-item.col-md-3
            .panel.panel-default
                .panel-thumbnail
                    a.thumb(href='#', title='image 8')
                        img.img-fluid.mx-auto.d-block(src='//via.placeholder.com/600x400?text=7', alt='slide 7')
    a.carousel-control-prev(href='#carouselExample', role='button', data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
    a.carousel-control-next.text-faded(href='#carouselExample', role='button', data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next
