.card
  .card-header ნავიგაცია
  .card-body.no-padder
    .list-group
      a.list-group-item.list-group-item-action(href='#')
        i.fa.fa-cog
        |  Navigation Item
      a.list-group-item.list-group-item-action(href='#')
        i.fa.fa-cog
        |  Navigation Item 2