extends ../../layout/layout
block content
    form(method='POST',  action="/articles/categories/add", enctype="multipart/form-data")
        .row
            .col-md-3
                .card
                    .card-body.no-padder
                        .list-group
                        a.list-group-item.list-group-item-action(href='#')
                            i.fa.fa-cog
                            |  Navigation Item
                        a.list-group-item.list-group-item-action(href='#')
                            i.fa.fa-cog
                            |  Navigation Item 2
            .col-md-9
                .card.card-default
                    .card-header #{title}
                        input#geoKeys.float-right(checked='checked', type='checkbox')
                    .card-body
                        form(method='POST',  action="/articles/add")
                            .form-group
                                label სათაური:
                                input.form-control(name="name", type="text", onkeypress="return makeGeo(this,event);")
                            .form-group
                                label იკონი:
                                input.form-control(name="icon", type="text")
                            .form-group
                                label მშობელი კატეგორია:
                                select.form-control(name="category", id="categorySelect")
                                    option(value="---") ---
                                        each category, i in categories
                                            option(value=category.name)= category.name
                        input.btn.btn-primary(type="submit", value="კატეგორიის დამატება")
                    .card-footer