extends ../layout/layout
block content
    form(method='POST',  action="/articles/add", enctype="multipart/form-data")
        .row
            .col-md-3
                .card.post-card
                    .card-body.no-padder
                        
                        .input-group
                            .post-img
                                img.card-img-top(src="/uploads/posts/default.jpg", alt="" id="imgpreview")
                                .custom-file
                                    input.custom-file-input(type='file' name="poster" id="imgInp")
                        .list-group
                        a.list-group-item.list-group-item-action(href='#')
                            i.fa.fa-cog
                            |  Navigation Item
                        a.list-group-item.list-group-item-action(href='#')
                            i.fa.fa-cog
                            |  Navigation Item 2
            .col-md-9
                .card.card-default
                    .card-header.flag-switch #{title}
                        input.float-right(type='checkbox', id='geoKeys')
                        label.float-right(for='switch' data-toggle='tooltip', data-placement='top', title='ქართული კლავიატურის ჩასართავად დააკლიკე ღილაკს "~"') Toggle
                    .card-body
                        form(method='POST',  action="/articles/add")
                            .row
                                .col-md-6
                                    .form-group
                                        label სათაური:
                                        ul#myTab.nav.nav-tabs(role='tablist')
                                            li.nav-item
                                                a#home-tab.nav-link.p-1.active(data-toggle='tab', href='#home', role='tab', aria-controls='home', aria-selected='true')
                                                    img(src="/img/lang/ქართული.png", alt="")
                                            li.nav-item
                                                a#profile-tab.nav-link.p-1(data-toggle='tab', href='#profile', role='tab', aria-controls='profile', aria-selected='false')
                                                    img(src="/img/lang/Русский.png", alt="")
                                            li.nav-item
                                                a#contact-tab.nav-link.p-1(data-toggle='tab', href='#contact', role='tab', aria-controls='contact', aria-selected='false')
                                                    img(src="/img/lang/English.png", alt="")
                                        #myTabContent.tab-content
                                            #home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
                                                input.form-control(name="title", type="text", onkeypress="return makeGeo(this,event);" placeholder="სათაური")
                                            #profile.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
                                                input.form-control(name="titleru", type="text", onkeypress="return makeGeo(this,event);" placeholder="Заглавие")
                                            #contact.tab-pane.fade(role='tabpanel', aria-labelledby='contact-tab')
                                                input.form-control(name="titleen", type="text", onkeypress="return makeGeo(this,event);" placeholder="Title")
                                .col-md-6
                                    .form-group
                                        label კატეგორია:
                                        select.form-control(name="category", id="categorySelect")
                                            option(value="---") აირჩიეთ კატეგორია
                                            each category in categories
                                                each c, i in category.name
                                                    option(value=category._id)= c[lang]
                            .row
                                .col-md-6
                                    
                                .col-md-6
                                    .form-group
                                        label ალბომი:
                                        select.form-control(name="gallery", id="gallerySelect")
                                            option(value="---") აირჩიეთ ალბომი
                                            each g, i in gallery
                                                option(value=g._id)= g.title
                            .form-group
                                label შინაარსი:
                                ul#myTab.nav.nav-tabs(role='tablist')
                                    li.nav-item
                                        a#ka-tab.nav-link.p-1.active(data-toggle='tab', href='#ka', role='tab', aria-controls='ka', aria-selected='true')
                                            img(src="/img/lang/ქართული.png", alt="")
                                    li.nav-item
                                        a#ru-tab.nav-link.p-1(data-toggle='tab', href='#ru', role='tab', aria-controls='ru', aria-selected='false')
                                            img(src="/img/lang/Русский.png", alt="")
                                    li.nav-item
                                        a#en-tab.nav-link.p-1(data-toggle='tab', href='#en', role='tab', aria-controls='en', aria-selected='false')
                                            img(src="/img/lang/English.png", alt="")
                                #myTabContent.tab-content
                                    #ka.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='ka-tab')
                                        textarea.jqte.form-control(name="body", onkeypress="return makeGeo(this,event);")
                                    #ru.tab-pane.fade(role='tabpanel', aria-labelledby='ru-tab')
                                        textarea.jqte.form-control(name="bodyru", onkeypress="return makeGeo(this,event);")
                                    #en.tab-pane.fade(role='tabpanel', aria-labelledby='en-tab')
                                        textarea.jqte.form-control(name="bodyen", onkeypress="return makeGeo(this,event);")
                            input.btn.btn-primary(type="submit", value="სტატიის დამატება")
                    .card-footer