doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title ქართული დიასპორა
        link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.css")
        //link(rel="stylesheet", href="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.css")
        link(rel="stylesheet", href="/css/app.css")
        link(rel="stylesheet", href="/css/jquery-te-1.4.0.css")
        script(defer='', src='https://use.fontawesome.com/releases/v5.0.8/js/all.js')
        script(src='/js/geo.js')
        script(src='/bower_components/jquery/dist/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js')
    body
    
        #fb-root
        script.
            (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/ka_GE/sdk.js#xfbml=1&autoLogAppEvents=1&version=v2.12&appId=2081052048841543';
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

        include ../includes/navbar

        .container
            .row
                .col-md-3
                    include ../includes/sidebar
                    
                .col-md-9
                    != messages('message', locals)
                    if errors
                        each  error, i in errors
                            div(class="alert alert-danger") #{error.msg}
                    block content
            footer
                block scripts
                p &copy; 2018
        script(src='/bower_components/jquery/dist/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
        //script(src='https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.js')
        script(src='/js/jquery-te-1.4.0.js')
        script(src='/js/main.js')
        script(src='/js/pagination.js')