extends ../layout/layout

block content
    .card.card-default
        .card-header 
        .card-body
            .row
                .col-md-6.money-select
                    p success
                .col-md-6
                    p text2
        .card-footer